<!DOCTYPE html>
<html>
	<head>
		<title>Enka-Zeitung</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/categories.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed" rel="stylesheet">
		<script src="/js/scripts.js" text="text/javascript"></script>
	</head>


	<body>
	<div id="navigation">
		<div id="navbarclose"></div>
		<div id="sidebarmenu">
			<div id="sbmenusearch"><input type="search" id="sbmenusearchinput" placeholder="&#128269; Suchen sie neue Nachrichten"></div>
			<br>
			<a class="sbmca" href="/pages/aktuelles.html"		 >AKTUELLES</a> 		 <br>
			<a class="sbmca" href="/pages/wetterbericht.html"	 >WETTERBERICHT</a> 	 <br>
			<a class="sbmca" href="/pages/mun.html"				 >MUN</a>				 <br>
			<a class="sbmca" href="/pages/robotik.html"			 >ROBOTIK</a>			 <br>
			<a class="sbmca" href="/pages/seminare.html"		 >SEMINARE</a>			 <br>
			<a class="sbmca" href="/pages/olimpiaden.html"		 >OLIMPIADEN</a>		 <br>
			<a class="sbmca" href="/pages/aktivitaten.html"		 >AKTIVITATEN</a>		 <br>
			<a class="sbmca" href="/pages/kulturangebot.html"	 >KULTURANGEBOT</a>		 <br>
			<a class="sbmca" href="/pages/sportveranstaltung.html">SPORTVERANSTALTUNG</a> <br>
			<a class="sbmca" href="/pages/screibern.html"		  >SCREIBERN</a>			<br>
		</div>
			<div id="navbardiv">
				<table id="navbartable">
					<tr>
						<td>
							<div class="container" onclick="myFunction(this)">
								<div class="bar1"></div>
								<div class="bar2"></div>
								<div class="bar3"></div>
							</div>
						</td>
						<td> 
							<div id="searchbar"><input type="search" id="searchinput" placeholder="&#128269; Suchen sie neue Nachrichten"></div>
						</td>
						<td rowspan="2" id="logo"><a href="/index.html"><img src="/images/logo2.png" height="50" id="logoobj"></td></a>
						<td>
							<table id="datetime">
								<tr><td id="date"><b id="datenum">19.02.2025</b></td></tr>
								<tr><td id="clock"><b id="timenum">22.52</b></td></tr>
							</table>
						</td>	
					</tr>
				</table> 
			</div>
			<div id="categories"> &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/aktuelles.html"		 >AKTUELLES</a> 		 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/wetterbericht.html"	 >WETTERBERICHT</a> 	 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/mun.html"				 >MUN</a>				 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/robotik.html"			 >ROBOTIK</a>			 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/seminare.html"		 >SEMINARE</a>			 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/olimpiaden.html"		 >OLIMPIADEN</a>		 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/aktivitaten.html"		 >AKTIVITATEN</a>		 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/kulturangebot.html"	 >KULTURANGEBOT</a>		 &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/sportveranstaltung.html">SPORTVERANSTALTUNG</a> &nbsp;&nbsp;&nbsp;
				<a class="catga" href="/pages/screibern.html"		  >SCREIBERN</a>			 &nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;
			</div>
				<div id="currencies">
					<a id="currencytext">
						DOLLAR 36,10 				<font class="inc">%0,17</font> 
						EURO 37,30   				<font class="dec">%-0,22</font> 
						PFUND 44,76 	 			<font class="dec">%-0,24</font> 
						BITCOIN $95.056,20 			<font class="dec">%-0,22</font>
						BIST 1009.811,00 		 	<font class="dec">%-0,73</font>
						GOLD 3.337,59				<font class="dec">%-0,60</font>
						ZINSEN 44,66				<font class="inc">%0,08</font>
					</a>
				</div> 
	</div>
				<div id="carddiv">
					<table id="card" align="center">
                        <tr><td colspan="3" style="color: #000;
                            font-family: Roboto;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: bold;
                            line-height: normal;
							margin-bottom: 0px;
                            text-align: left; padding-left: 35px;">
                            <p style="margin-bottom: 0px;">Olimpiaden-Nachrichten</p>
                        </td></tr>
						<tr>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
						</tr>
                        <tr>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
						</tr>
                        <tr>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
							<td class="newstablecell">
								<a href="/pages/newstemplate.html" style="text-decoration: none;"><table class="newscard">
									<tr><td><div>
										<img src="/images/einekatze.jpg" class="thumbnail">
									</div></td></tr>
									<tr><td class="newtext">
										eine katze fliegtet mit ein flugzeug
									</td></tr>
								</table></a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
	</body>
</html>